body {
background: orange;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
height: 100%;
}

.wrapper {
width: 100%;
margin: 30px auto;
color: var(white);
text-align:center;
}

h1, h2, h3 {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 5em;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

#seconds, #tens, p{
  font-size: 4em;
  color: white;
}

button{
border-radius: 10px;
background: orange;
color: white;
border: solid 1px white;
text-decoration:none;
cursor:pointer;
font-size:1.2em;
padding:18px 10px;
width:180px;
margin: 10px;
outline: none;
transition: background 500ms , border 500ms, color 500ms ;

}

button:hover{
	background: white;
	border: solid 1px white;
	color: orange;
}







